<div class="interactive-wrapper-map">
	<div class="map-search-box">
		<input id="map-autoComplete" type="text" dir="ltr" spellcheck="false" autocorrect="off" autocomplete="off" autocapitalize="none" maxlength="2048" tabindex="1" role="combobox" aria-haspopup="true" aria-expanded="false" aria-controls="autoComplete_list" aria-autocomplete="both" placeholder="Search by country">
		<img class="map-search-cancel" src="<%= path %>/icon-cancel.svg">
	</div>
	<div class="map-container">
		<div class='tooltip-map-list'>
		</div>
	</div>
	<div class='map-source'>Guardian graphic. Source: Department for Transport. Updated on May 17th</div>
</div>